In [3]:
import pandas as pd

basketball_df = pd.read_csv('acc_players-2324F.csv', header=1)
basketball_df.head(5)

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
0,1,Amaree Abram,SO,G,Georgia Tech,10,108,17,11,1,...,9,10,34,0.262,0.318,0.200,0.615,4.1,-0.1,-6.4
1,2,Sola Adebisi,FR,F,Florida State,7,9,1,1,0,...,1,1,2,0.500,0.500,NaN,NaN,3.5,0.0,-6.7
2,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.620,9.4,0.9,-1.3
3,4,Abe Atiyeh,SR,G,Boston College,4,6,0,0,0,...,1,0,3,0.333,0.000,1.000,NaN,1.1,0.0,-8.2
4,5,Zack Austin,JR,F,Pittsburgh,33,746,137,29,32,...,13,35,216,0.417,0.563,0.295,0.737,18.0,2.9,7.9

In [ ]:
print(basketball_df.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Totals', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Shooting',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Advanced', 'Unnamed: 19',
       'Unnamed: 20'],
      dtype='object')

In [4]:
# Calculate the total points scored by all players combined

total_points = basketball_df['PTS'].sum()
print(total_points)

38411

In [5]:
# Find the player who has played the most minutes (MP)

max_minutes = basketball_df['MP'].max()

player_with_most_minutes = basketball_df.loc[basketball_df['MP'] == max_minutes, 'Player'].values[0]

print(player_with_most_minutes)

Casey Morsell

In [6]:
# Identify the top 5 players in terms of total rebounds (TRB).

top_5_players_rebounds = basketball_df.nlargest(5, 'TRB')

top_5_players_rebounds = top_5_players_rebounds[['Player', 'TRB']]

print(top_5_players_rebounds)

              Player  TRB
5      Armando Bacot  380
178  Ian Schieffelin  340
90   Harrison Ingram  327
44    Mohamed Diarra  311
149    Norchad Omier  309

In [7]:
# Create a new DataFrame containing only players who played more than 500 minutes.

new_df = basketball_df[basketball_df['MP'] > 500].copy()
print(new_df.head(5))

   Rk         Player Class Pos          School   G    MP  TRB  AST  STL  ...  \
2   3  Prince Aligbe    SO   F  Boston College  35   651  119   21   15  ...
4   5    Zack Austin    JR   F      Pittsburgh  33   746  137   29   32  ...
5   6  Armando Bacot    SR   F  North Carolina  37  1123  380   56   22  ...
7   8  Reece Beekman    SR   G        Virginia  34  1114  124  212   68  ...
9  10     Chris Bell    SO   F        Syracuse  32   865   75   21   18  ...

   TOV   PF  PTS    FG%    2P%    3P%    FT%   PER   WS   BPM
2   30   51  164  0.435  0.522  0.147  0.620   9.4  0.9  -1.3
4   13   35  216  0.417  0.563  0.295  0.737  18.0  2.9   7.9
5   60  100  538  0.540  0.544  0.400  0.781  24.6  6.1   8.9
7   70   43  486  0.443  0.487  0.310  0.754  23.4  4.9  10.5
9   26   58  384  0.434  0.459  0.420  0.842  14.9  2.2   3.3

[5 rows x 21 columns]

In [8]:
# From this filtered DataFrame, determine the player with the highest total assists (AST).

player_with_highest_assists = new_df.loc[new_df['AST'] == new_df['AST'].max(), 'Player']

print(player_with_highest_assists)

7    Reece Beekman
Name: Player, dtype: object

In [9]:
# Who are the top 3 Assist Leads in the League?

assist_leads = new_df.nlargest(3, 'AST')
assist_leads = assist_leads[['Player', 'AST']]
print(assist_leads)

             Player  AST
7     Reece Beekman  212
215  Jaeden Zackery  152
21    Elliot Cadeau  150

In [11]:
# Who are the top 3 Shot Blockers?

shot_blockers = new_df.nlargest(3, 'BLK')
shot_blockers = shot_blockers[['Player', 'BLK']]
print(shot_blockers)

            Player  BLK
51       Ryan Dunn   77
157   Quinten Post   61
5    Armando Bacot   56

In [12]:
# Group the players by School and calculate the total points scored by each school.

total_points_by_school = basketball_df.groupby('School')['PTS'].sum()
print(total_points_by_school)

School
Boston College    2667
Clemson           2785
Duke              2830
Florida State     2526
Georgia Tech      2272
Louisville        2304
Miami (FL)        2424
NC State          3101
North Carolina    3032
Notre Dame        2113
Pittsburgh        2495
Syracuse          2442
Virginia          2140
Virginia Tech     2547
Wake Forest       2733
Name: PTS, dtype: int64

In [13]:
# Group the players by School and calculate the total assists (AST) for each team.

total_asts_by_school = basketball_df.groupby('School')['AST'].sum()
print(total_asts_by_school)

School
Boston College    509
Clemson           533
Duke              551
Florida State     406
Georgia Tech      425
Louisville        356
Miami (FL)        454
NC State          536
North Carolina    536
Notre Dame        335
Pittsburgh        452
Syracuse          442
Virginia          509
Virginia Tech     514
Wake Forest       429
Name: AST, dtype: int64

In [ ]:
# Sort the schools by total points scored and display the top 3 schools.

sorted_schools_by_total = total_points_by_school.sort_values(ascending=False)
top_3_schools = sorted_schools_by_total.head(3)
print(top_3_schools)

Unnamed: 4
NC State          3101
North Carolina    3032
Duke              2830
Name: Unnamed: 13, dtype: int64